<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style1.css')}}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <title>Personal expense tracker</title>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body>
    <div class="hero">
        <div class="overlay"></div>
        <div class="info">
            <h1>Personal <span>expense tracker</span></h1>
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
        </div>
    </div>

</body>

</html>