{% extends 'base.html' %}

{% block body %} 
<style>
    body{
    font-family: cursive;
    overflow: hidden;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-7">
          
            <br>
            <h3>Add Expense</h3>
            <form action="/addexpense" method="POST">
                <div class="form-group">
                    <label for="">Userid</label> 
                    <input class="form-control" type="number" name="id" id="id"></div>
               
                <div class="form-group">
                     <label for="">Date</label> 
                     <input class="form-control" type="date" name="date" id="date"></div>
                
                <div class="form-group"> <label for="">Title</label> 
                    <input class="form-control" type="text" name="title" id="title">
                </div>
                <div class="form-group">
                     <label for="">Amount</label> 
                      <input class="form-control"  type="number" min="0" name="amount" id="amount">
                </div>
                 <div class="form-group">
                    <label for=""></label>
                    <select class="form-control" name="category" id="category">
                        <option selected hidden>Category</option>
                        <option name = "food" value="food">Domestic</option>
                        <option name = "entertainment" value="entertainment">Entertainment</option>
                        <option name = "business" value="business">Business</option>
                        <option name ="rent" value="rent">Rent</option>
                        <option name = "EMI" value="EMI">EMI</option>
                        <option name = "other" value="other">other</option>
            
                    </select>
                </div>
                <input class="btn btn-danger" type="submit" value="Add" id="">
        
        </div>
    </div>
    
</div>
   
    {% endblock %}