{% extends 'base.html' %}

{% block body %} 

<p> Currently your MONTHLY limit is ₹ {{y}} </p>
<style>
    body{
    font-family: cursive;
    overflow: hidden;
}
</style>

<form action="/limitnum" method="POST">

    <p> Enter the MONTHLY LIMIT to limit your expenses</p> <br/>
    <input type="number" name="id" required/> <span> 
    <input type="number" name="number" required/> <span> 
        <button class="btn btn-warning" type="submit">ENTER</button>
    </span>
    



</form>
{% endblock %}