@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth; 
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: url(ima.png);
}
.overlay{
    background: #0000008a;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.btn{
    background: #f48882;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}
.btn:hover{
    background:#c6fad2;
    color:black;
    border: 1px solid rgb(232, 127, 188);
}
.info{
    position: absolute;
    top:50%;
    left: 15%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.info h1{
    font-size: 40px;
    color: white;
}
.info h1 span{
   color: #f48882;
}
